snippet for "for loop"
for (${1:counter}; ${2:condition} ; ${3:inc})
{
	${0}
}
endsnippet

snippet main "main"
int main(int argc, char* argv[])
{
	${0}
	return 0;
}
endsnippet

snippet print "printf"
printf(${1:format}, ${0});
endsnippet
